<app-navigation (navigation)="scrollToElement($event)" [page]="page"></app-navigation>
<div class="p-grid">
  <div class="p-col-12" id="timeweb">


    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 200%;">TimeWeb</div>
    <div class="p-col-2 p-offset-5" style="text-align: center;">
      <hr style="border: 1px solid rgb(70, 70, 70);">
    </div>
    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 150%">Finibu Bonorum</div>


    <div class="p-col-8 p-offset-2">
      <div class="p-grid">
        <div class="p-col-2">
          <img src="assets/img/img.png" alt="logo" class="loremipsumimg">
        </div>
        <div class="p-col-10">
          <div class="p-col-12">
            <h1>Lorem Ipsum</h1>
          </div>
          <div class="p-col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate neque vel turpis porttitor
              iaculis. Phasellus facilisis risus at efficitur tempus. Ut ipsum odio, commodo nec finibus id, consectetur
              sodales urna. Aenean aliquam nibh a augue vehicula cursus eget sagittis enim. Vestibulum eget ultricies
              felis. Phasellus eu magna eu tortor luctus vulputate quis nec velit. Etiam porttitor magna sed elit
              luctus, ut ullamcorper sapien tempus. Fusce ornare, nisl ut dictum auctor, erat nisi malesuada felis, sed
              lacinia dolor neque vehicula dui.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-col-8 p-offset-2">
      <div class="p-grid" style="text-align: right;">
        <div class="p-col-10">
          <div class="p-col-12">
            <h1>Lorem Ipsum</h1>
          </div>
          <div class="p-col-12">
            <p stlye="text-align: right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate
              neque vel turpis porttitor iaculis. Phasellus facilisis risus at efficitur tempus. Ut ipsum odio, commodo
              nec finibus id, consectetur sodales urna. Aenean aliquam nibh a augue vehicula cursus eget sagittis enim.
              Vestibulum eget ultricies felis. Phasellus eu magna eu tortor luctus vulputate quis nec velit. Etiam
              porttitor magna sed elit luctus, ut ullamcorper sapien tempus. Fusce ornare, nisl ut dictum auctor, erat
              nisi malesuada felis, sed lacinia dolor neque vehicula dui.</p>
          </div>
        </div>
        <div class="p-col-2">
          <img src="assets/img/img.png" alt="logo" class="loremipsumimg">
        </div>
      </div>
    </div>

    <div class="p-col-8 p-offset-2">
      <div class="p-grid">
        <div class="p-col-2">
          <img src="assets/img/img.png" alt="logo" class="loremipsumimg">
        </div>
        <div class="p-col-10">
          <div class="p-col-12">
            <h1>Lorem Ipsum</h1>
          </div>
          <div class="p-col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate neque vel turpis porttitor
              iaculis. Phasellus facilisis risus at efficitur tempus. Ut ipsum odio, commodo nec finibus id, consectetur
              sodales urna. Aenean aliquam nibh a augue vehicula cursus eget sagittis enim. Vestibulum eget ultricies
              felis. Phasellus eu magna eu tortor luctus vulputate quis nec velit. Etiam porttitor magna sed elit
              luctus, ut ullamcorper sapien tempus. Fusce ornare, nisl ut dictum auctor, erat nisi malesuada felis, sed
              lacinia dolor neque vehicula dui.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-col-8 p-offset-2">
      <div class="p-grid" style="text-align: right;">
        <div class="p-col-10">
          <div class="p-col-12">
            <h1>Lorem Ipsum</h1>
          </div>
          <div class="p-col-12">
            <p stlye="text-align: right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate
              neque vel turpis porttitor iaculis. Phasellus facilisis risus at efficitur tempus. Ut ipsum odio, commodo
              nec finibus id, consectetur sodales urna. Aenean aliquam nibh a augue vehicula cursus eget sagittis enim.
              Vestibulum eget ultricies felis. Phasellus eu magna eu tortor luctus vulputate quis nec velit. Etiam
              porttitor magna sed elit luctus, ut ullamcorper sapien tempus. Fusce ornare, nisl ut dictum auctor, erat
              nisi malesuada felis, sed lacinia dolor neque vehicula dui.</p>
          </div>
        </div>
        <div class="p-col-2">
          <img src="assets/img/img.png" alt="logo" class="loremipsumimg">
        </div>
      </div>
    </div>

    <div #webdizajn id="webdizajn" class="p-col-2 p-offset-5">
      <button class="button">
        <p>SAZNAJ VISE</p>
      </button>
    </div>

    <div  class="p-col-4 p-offset-4" style="text-align: center;font-size: 200%; margin-top: 100px;">IZRADA EXPRESS WEB
      STRANICA</div>
    <div class="p-col-2 p-offset-5" style="text-align: center;">
      <hr style="border: 1px solid rgb(70, 70, 70);">
    </div>
    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 150%">Finibu Bonorum</div>


    <div class="p-col-6 p-offset-3">
      <p>Vestibulum sed lacus tincidunt, pulvinar libero iaculis, eleifend turpis. Phasellus eget semper tortor. Nulla
        et nibh in enim egestas pulvinar. Morbi ut molestie mi. Duis convallis elit ac purus malesuada, eu suscipit diam
        pulvinar. Etiam vitae lectus rutrum, vehicula lorem vitae, efficitur justo. Nunc ac dui efficitur, placerat
        lectus ac, tincidunt lectus. In vehicula faucibus eros nec elementum. Aliquam dapibus purus nec rutrum
        consectetur. Quisque dui sapien, vestibulum ut ullamcorper vitae, pretium in ex. Ut at neque a purus finibus
        accumsan quis quis nibh. Pellentesque consectetur cursus tristique.</p>
    </div>

    <div class="p-col-10 p-offset-1" style=" margin-top: 100px;">
      <div class="p-grid">
        <div class="p-col-4">
          <img src="assets/img/photo1.jpg" alt="logo" class="laptops">
        </div>
        <div class="p-col-4">
          <img src="assets/img/photo2.jpg" alt="logo" class="laptops">
        </div>
        <div class="p-col-4">
          <img src="assets/img/photo3.jpg" alt="logo" class="laptops">
        </div>
      </div>
    </div>


    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 200%; margin-top: 80px;">Trebate web stranicu?
    </div>
    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 150%; margin-top: 50px;">Na pravom se mijestu
    </div>


    <div #onama id="onama" class="p-col-2 p-offset-5" style="margin-top: 80px;">
      <button class="button">
        <p>info@invariant.hr</p>
      </button>
    </div>


    <div  class="p-col-4 p-offset-4" style="text-align: center;font-size: 200%; margin-top: 100px;" id="onama">O NAMA</div>
    <div class="p-col-2 p-offset-5" style="text-align: center;">
      <hr style="border: 1px solid rgb(70, 70, 70);">
    </div>
    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 150%">Finibu Bonorum</div>


    <div class="p-col-6 p-offset-3" style=" margin-top: 100px;">
      <p>Vestibulum sed lacus tincidunt, pulvinar libero iaculis, eleifend turpis. Phasellus eget semper tortor. Nulla
        et nibh in enim egestas pulvinar. Morbi ut molestie mi. Duis convallis elit ac purus malesuada, eu suscipit diam
        pulvinar. Etiam vitae lectus rutrum, vehicula lorem vitae, efficitur justo. Nunc ac dui efficitur, placerat
        lectus ac, tincidunt lectus. In vehicula faucibus eros nec elementum. Aliquam dapibus purus nec rutrum
        consectetur. Quisque dui sapien, vestibulum ut ullamcorper vitae, pretium in ex. Ut at neque a purus finibus
        accumsan quis quis nibh. Pellentesque consectetur cursus tristique.</p>
    </div>
  </div>


  <div class="p-col-10 p-offset-1" style=" margin-top: 100px;">
    <div class="p-grid">
      <div class="p-col-3">
        <div class="p-col-12">
          <img src="assets/img/img.png" alt="logo" class="employee">
        </div>
        <div class="p-col-12">
          <h2>Profil 1</h2>
        </div>
        <div class="p-col-12">
          <p>opis</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-col-12">
          <img src="assets/img/img.png" alt="logo" class="employee">
        </div>
        <div class="p-col-12">
          <h2>Profil 2</h2>
        </div>
        <div class="p-col-12">
          <p>opis</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-col-12">
          <img src="assets/img/img.png" alt="logo" class="employee">
        </div>
        <div class="p-col-12">
          <h2>Profil 3</h2>
        </div>
        <div class="p-col-12">
          <p>opis</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-col-12">
          <img src="assets/img/img.png" alt="logo" class="employee">
        </div>
        <div class="p-col-12">
          <h2>profil 4</h2>
        </div>
        <div class="p-col-12">
          <p>opis</p>
        </div>
      </div>
    </div>

    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 200%; margin-top: 100px;">KONTAKTIRAJTE NAS</div>
    <div class="p-col-2 p-offset-5" style="text-align: center;">
      <hr style="border: 1px solid rgb(70, 70, 70);">
    </div>
    <div class="p-col-4 p-offset-4" style="text-align: center;font-size: 150%">Otvoreni smo za prilagodbe</div>


    <div #kontakt id="kontakt" class="p-col-2 p-offset-5" style="margin-top: 80px; margin-bottom: 200px;">
      <button class="button">
        <p>info@invariant.hr</p>
      </button>
    </div>

  </div>

</div>