th{
    background-color: gray;
}


button{
    background-color: darkgray;
    border: 1px none darkgray;
    border-radius: 10%;
}
button:hover{
    background-color: lightgray;
    border: 1px none darkgray;
    border-radius: 10%;
}
body{
    min-height: 100vh;
}